main {
    display: flex;
}

.jumbotron {
    background-color: red;
}

#search-text {
    color: rebeccapurple;
    font-size: x-large;
    padding-right: 10px;
}


.menu button {
    margin-top: 5px;
    width: 70%;
}

.search-panel {
    width: 30%;
}

.results-panel {
    text-align: center;
    width: 70%;
}